@import url('http://fonts.googleapis.com/css?family=Dancing+Script');
@import url('http://fonts.googleapis.com/css?family=Titillium+Web');

.left { float:left; }
.right { float:right; }
.clear{ clear:both; }

body
{
    background-image: url(podloga.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top ;
    background-size: cover;
    font-family: "Titillium Web";
}
a:link {
    text-decoration: none;
    color:black;
}

a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: underline;
    color:black;
}


#naslov
{
	float:left;
	font-family: "Dancing Script";
	font-size: 2em;
	width:55%;
	margin-right: -50px;
}

#kontakt
{
	margin-top: 50px;
	padding:8px 20px;
	text-align: center;
	font-size: smaller;
	float:right;
	border-radius: 15px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
}
#kontakt p
{
	text-align: left;
	padding: 0px; margin:0px;
	font-weight: bolder;
	font-style: italic;
}

#header
{
	width: 75%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
#meni{clear: left;}
#meni .crveno
{ color:red;}


#meni ul 
{ 

	width:100%;
	list-style: none;
	padding: 0px;
	font-weight: bolder;
}

#meni  li 
{ 
	float: left;
	width:25%;
	text-align: center;
	padding: 10px 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	 word-wrap: break-word; 
}

#meni ul li:hover
{
	background: #3399FF;
    color:white;
}
#meni li li { float: none; position: relative; }


#meni ul ul 
{ 
	font-weight: normal;
	margin-top: 10px;
	width:20%;
	padding: 0px;
	display: none;
	position: absolute; 
	
}
#meni ul li:hover ul { display: block; background-color:white;border-radius: 4px;}
#meni ul li:hover li{ width:100%;}
hr
{
	clear:both;
	background-color: #3399FF;
	height: 5px;
	border: 0px;
	margin-bottom: 30px;
}

/*    do ovdje je bio gornji dio koji je svugdje isti. sada donjii */

.tijelo
{
	width: 75%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
	
	padding: 10px;
	margin-top: 50px;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0,0,0,0.25);
	margin:0 auto;
}

.tijelo img
{
	border-radius: 4px;
	max-width: 60%;
	margin-right: 10px;
	margin-top: 5px;
	margin-left: 5px;

}

.tijelo .description
{
	
	margin:0;
	text-align: center;
	font-size: 1.2em;

}

.footer
{
	width: 75%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
	
	padding: 10px;
	margin-top: 30px;
	border-radius: 15px;
	box-shadow: 0 2px 20px #1A4C80;
}

.footer .foloway p{margin:0;padding: 0;}
.footer .foloway
{
	max-width: 20%;
	margin:0;
	margin-top:20%;
}
.footer .foloway a{margin:0;padding: 0;}

.footer .sjediste p{margin:0; font-weight: bolder; font-style: italic;}
.footer .sjediste
{
	max-width: 20%;
	margin-left: 10%;
	margin-top:1%;
}
.footer .info p{margin:0;font-weight: bolder; font-style: italic; }
.footer .info
{
	max-width: 55%;
	margin-left: 20%;
	margin-top:1%;
	margin-right: 1%;
}

.footer .info a{text-decoration: underline;}
